/* Algemene styling */
body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
    color: #333;
}

.container {
    max-width: 900px;
    margin: 50px auto;
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    color: #9c1925;
}

textarea, select {
    width: 100%;
    height: 50px;
    margin: 15px 0;
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none;
}

textarea:focus, select:focus {
    border-color: #9c1925;
    outline: none;
}

.btn {
    padding: 12px 20px;
    margin: 10px;
    background: #9c1925;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    background: #b3212f;
}

.section.hidden {
    display: none;
}

.reset-btn {
    background: #f39c12;
}

.reset-btn:hover {
    background: #e67e22;
}
